@page "{nomeFeira}"
@model EZFair.Pages.FeiraModel
@{
}

<h1>@FeiraModel.nomeFeira</h1>
<p>Empresa: @Model.empresa</p>
<p>Data de Início: @Model.inicio.ToString("dd/MM/yyyy")</p>
<p>Data de Fim: @Model.final.ToString("dd/MM/yyyy")</p>

<form method="post">
    <button type="submit" class="btn btn-primary" asp-page-handler="AdicionarProduto">Adicionar produto</button>
</form>

<ul>
    @foreach (var produto in FeiraModel.produtos)
    {
        <li>
            <h2>@produto.nomeProduto</h2>
            <p>@produto.preco</p>
            <button onclick="location.href='/Feira/@FeiraModel.nomeFeira/idProduto=@produto.idProduto'">Produto</button>
        </li>
    }
</ul>